<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<title>F2P/F3P Number System</title>

<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/css/font-awesome.min.css">

<link rel="stylesheet" href="assets/css/feathericon.min.css">

<link rel="stylesheet" href="assets/plugins/morris/morris.css">

<link rel="stylesheet" href="assets/css/style.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <style>
#radioButtonContainer,
#cntrBits{
  display: inline-block;
  margin-right: 10px;
}

.radio-button {
  display: inline-block;
  margin-right: 10px;
  padding:10px;
}
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
      updateRadioButtons();
      checkAndSubmitForm();
    });
  </script>
</head>
<body>

<div class="main-wrapper">




<div class="sidebar" id="sidebar">
<div class="sidebar-inner slimscroll">
<div id="sidebar-menu" class="sidebar-menu">
<ul>
<li class="menu-title">
</li>
<li>
<a href=""><i class="fa fa-key"></i> <span>F2P/F3P Number System</span></a>
</li>
</li>
</ul>
</li>
</ul>
</div>
</div>
</div>


<div class="page-wrapper">
<div class="content container-fluid">

<div class="page-header">
<div class="row">
<div class="col-sm-12">
<h3 class="page-title">F2P/F3P</h3>
</div>
</div>
</div>
<div class="row">
<div class="col-12 col-md-12 col-lg-12">
<div class="card flex-fill">
<div class="card-header">
<ul role="tablist" class="nav nav-pills card-header-pills float-right">
<li class="nav-item">
<a href="#tab-4" data-bs-toggle="tab" class="nav-link active">F2P/F3P to decimal</a>
</li>
<li class="nav-item">
<a href="#tab-5" data-bs-toggle="tab" class="nav-link">Decimal to F2P/F3P</a>
</li>
</ul>
</div>
<div class="card-body">
<div class="tab-content pt-0">
<div role="tabpanel" id="tab-4" class="tab-pane fade show active">
<div class="card">
<div class="card-body">
<div class="row">
<div class="col-sm">
<form id="myForm">
<div class="row">
    <div class="col-md-3 mb-3">
<label for="validationDefault02">Number System</label>
  <select class="form-control form-select" name="fp_type" id="fp_type" required>
<option value="F2P">F2P</option>
<option value="F3P">F3P</option>
</select>
</div>
<div class="col-md-3 mb-3">
<label for="validationDefault01">Number of Bits</label>
<input type="number" class="form-control" name="cntr_size" value="8" id="cntr_size"  required>
</div>
<div class="col-md-3 mb-3">
<label for="validationDefault02">Hyper-exp size</label>
<input type="number" class="form-control" name="hyper_size" id="hyper_size"  value="2" min="2" max="3" required>
</div>
 <div class="col-md-3 mb-3">
<label for="validationDefault02">Flavor Type</label>
  <select class="form-control form-select" name="flavor_type" id="flavor_type" required>
<option value="sr">SR</option>
<option value="lr">LR</option>
<option value="si">SI</option>
<option value="li">LI</option>
</select>
</div>
<div class="col-md-6 mb-3">
    <label for="validationDefault01">Sign Type:</label>&nbsp;&nbsp;&nbsp;
    <input type="radio" name="sn_type" value="signed">&nbsp;&nbsp;&nbsp;
    <label for="validationDefault01">Signed</label>&nbsp;&nbsp;&nbsp;
    <input type="radio" name="sn_type" value="unsigned" checked>
    <label for="validationDefault01">Unsigned</label>&nbsp;&nbsp;&nbsp;
</div>
    <div id="radioButtonContainer"></div>
 <hr>
 <div class="form-group row" style="padding-top:10px;">
<label class="col-form-label col-md-2">Binary Representation</label>
<div class="col-md-10">
<input type="text" id="cntrBits" name="cntrBits" class="form-control" value="{{ combinedValue }}" required>
</div>
</div>
</div>
     <div id="result">
         <div class="form-group row" style="padding-top:10px;">
                             <label class="col-form-label col-md-2">Decimal Representation</label>
                             <div class="col-md-10">
                             <input type="text" class="form-control" value="0">
                             </div>
                              </div>
     </div>
</form>
</div>
</div>
</div>
</div>
</div>
<div role="tabpanel" id="tab-5" class="tab-pane fade text-center">
<div class="card-body">
<form id="f2ptobits">
<div class="row">
    <div class="col-md-3 mb-3">
<label for="validationDefault02">Number System</label>
  <select class="form-control form-select" name="fptype" id="fptype" required>
<option value="F2P">F2P</option>
<option value="F3P">F3P</option>
</select>
</div>
<div class="col-md-3 mb-3">
<label for="validationDefault01">Number of Bits</label>
<input type="number" class="form-control" name="cntrsize" value="8" id="cntrsize"  required>
</div>
<div class="col-md-3 mb-3">
<label for="validationDefault02">Hyper-exp size</label>
<input type="number" class="form-control" name="hypersize" id="hypersize"  value="2" min="2" max="3" required>
</div>
 <div class="col-md-3 mb-3">
<label for="validationDefault02">Flavor Type</label>
  <select class="form-control form-select" name="flavortype" id="flavortype" required>
<option value="sr">SR</option>
<option value="lr">LR</option>
<option value="si">SI</option>
<option value="li">LI</option>
</select>
</div>
<div class="col-md-6 mb-3">
    <label for="validationDefault01">Sign Type:</label>&nbsp;&nbsp;&nbsp;
    <input type="radio" name="sntype" value="signed">&nbsp;&nbsp;&nbsp;
    <label for="validationDefault01">Signed</label>&nbsp;&nbsp;&nbsp;
    <input type="radio" name="sntype" value="unsigned" checked>
    <label for="validationDefault01">Unsigned</label>&nbsp;&nbsp;&nbsp;
</div>
 <div class="form-group row" style="padding-top:10px;">
<label class="col-form-label col-md-2">Decimal Value</label>
<div class="col-md-10">
<input type="text" id="fpvalue" name="fpvalue" class="form-control" value="100" required>
</div>
</div>
</div>
     <div id="bits"></div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>


<script src="assets/js/jquery-3.6.0.min.js"></script>

<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="assets/js/script.js"></script>
 <script>
    // Get references to the input and container elements
    const numberInput = document.getElementById('cntr_size');
    const radioButtonContainer = document.getElementById('radioButtonContainer');
    const combinedValueDiv = document.getElementById('cntrBits');

    // Add an input event listener to the number input
    numberInput.addEventListener('input', updateRadioButtons);

    // Add a change event listener to the number input
    numberInput.addEventListener('change', updateRadioButtons);

    function updateRadioButtons() {
      // Get the number from the input field
      const numToRepeat = numberInput.value;

      // Clear any previous radio buttons and combined value
      radioButtonContainer.innerHTML = '';
      combinedValueDiv.textContent = '';
      const counterBitsText = document.createTextNode('Counter Bits:');
      radioButtonContainer.appendChild(counterBitsText);
      let combinedValue = '';

      // Create and append the new radio buttons
      for (let i = 0; i < numToRepeat; i++) {
        const radioButtonDiv = document.createElement('div');
        radioButtonDiv.classList.add('radio-button');

        const label = document.createElement('label');

        const newRadioButton = document.createElement('input');
        newRadioButton.type = 'radio';
        newRadioButton.name = `option${i + 1}`;
        newRadioButton.value = '0';
        newRadioButton.classList.add('radio');

        newRadioButton.addEventListener('click', function() {
          this.value = this.value === '0' ? '1' : '0';
          this.checked = this.value === '1';
          updateCombinedValue();
        });

        label.appendChild(newRadioButton);
        label.appendChild(document.createTextNode(``));

        radioButtonDiv.appendChild(label);
        radioButtonContainer.appendChild(radioButtonDiv);

        combinedValue += newRadioButton.checked ? '1' : '0';
      }

      updateCombinedValue();
    }

    function updateCombinedValue() {
      const radioButtons = document.querySelectorAll('.radio');
      let combinedValue = '';

      radioButtons.forEach(radio => {
        combinedValue += radio.value;
      });

      combinedValueDiv.textContent = `Combined value: ${combinedValue}`;
      const combinedValueInput = document.getElementById('cntrBits');
      combinedValueInput.value = combinedValue;
    }
  </script>
 <script>
     $(document).ready(function() {
  var $form = $('#myForm');
  var $cntr_size = $('#cntr_size');
  var $hyper_size = $('#hyper_size');
  var $flavor_type = $('#flavor_type');
  var $fp_type = $('#fp_type');
  const $sn_type = $('input[name="sn_type"]');
  var $cntrBits = $('#cntrBits');
  var $result = $('#result');
  var $radioButtonContainer = $('#radioButtonContainer');

  // Check if all fields are filled and submit the form
  function checkAndSubmitForm() {
    if ($sn_type.is(':checked') && $cntr_size.val() && $hyper_size.val() && $flavor_type.val() && $cntrBits.val() && $fp_type.val()) {
      $.ajax({
        type: 'POST',
        url: '/webapp/BitstoF2P',
        data: $form.serialize(),
        success: function(data) {
          var result = JSON.parse(data).result;
          if (isNaN(result)) {
            $result.html(`
              <div class="form-group row" style="padding-top:10px;">
                <label class="col-form-label col-md-2">Decimal Representation</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" value="">
                  <center><p style="color: red;">${result}</p>
                </div>
              </div>
            `);
          } else {
            $result.html(`
              <div class="form-group row" style="padding-top:10px;">
                <label class="col-form-label col-md-2">Decimal Representation</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" value="${result}">
                </div>
              </div>
            `);
          }
        },
        error: function() {
          $result.html('<center><h6 style="color:red;">Please enter correct data</h6></center>');
        }
      });
    }
  }

  // Listen for changes in the input fields and submit the form if all fields are filled
  $cntr_size.on('input', checkAndSubmitForm);
  $hyper_size.on('input', checkAndSubmitForm);
  $flavor_type.on('change', checkAndSubmitForm);
  $fp_type.on('change', checkAndSubmitForm);
   $sn_type.on('change', checkAndSubmitForm);
  $cntrBits.on('input', checkAndSubmitForm);
  $radioButtonContainer.click(checkAndSubmitForm);
});

    </script>
<script>
    $(document).ready(function() {
  var $form = $('#f2ptobits');
  var $cntr_size = $('#cntrsize');
  var $hyper_size = $('#hypersize');
  var $flavor_type = $('#flavortype');
  var $fp_type = $('#fptype');
  var $sn_type = $('input[name="sntype"]');
  var $fpvalue = $('#fpvalue');
  var $bits = $('#bits');

  // Check if all fields are filled and submit the form
  function checkAndSubmitForm() {
    if ($sn_type.is(':checked') && $cntr_size.val() && $hyper_size.val() && $flavor_type.val() && $fp_type.val()) {
      $.ajax({
        type: 'POST',
        url: '/webapp/F2PtoBits',
        data: $form.serialize(),
        success: function(data) {
          var bits = JSON.parse(data).bits;
          if (isNaN(bits)) {
            $bits.html(`
              <div class="form-group row" style="padding-top:10px;">
                <label class="col-form-label col-md-2">Binary Representation</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" value="" style="border:red;">
                  <center><p style="color: red;">${bits}</p>
                </div>
              </div>
            `);
          } else {
            $bits.html(`
              <div class="form-group row" style="padding-top:10px;">
                <label class="col-form-label col-md-2">Binary Representation</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" value="${bits}">
                </div>
              </div>
            `);
          }
        },
        error: function() {
          $bits.html('<center><h6 style="color:red;">Please enter correct data?</h6></center>');
        }
      });
    }
  }

  // Listen for changes in the input fields and submit the form if all fields are filled
  $cntr_size.on('input', checkAndSubmitForm);
  $hyper_size.on('input', checkAndSubmitForm);
  $flavor_type.on('change', checkAndSubmitForm);
  $fp_type.on('change', checkAndSubmitForm);
  $sn_type.on('change', checkAndSubmitForm);
  $fpvalue.on('change', checkAndSubmitForm);
});

</script>
</body>
</html>
